<% title "Spots" %>

<table>
  <tr>
    <th>Name</th>
    <th>Count</th>
  </tr>
  <% total = 0 %>
  <% for spot in @spots %>
    <% total += spot.count %>
    <tr>
      <td>
	<% if spot.nixed? %><strike><% end %>
	<%= spot.name %>
	<% if spot.nixed? %></strike><% end %>
      </td>
      <td align=center><%= spot.count %></td>
      <td><%= link_to "+", plus_spot_path(spot) %></td>
      <td><%= link_to "-", minus_spot_path(spot) %></td>
      <td><%= link_to "nix", nix_spot_path(spot) %></td>
      <td><%= link_to "edit", edit_spot_path(spot) %></td>
    </tr>
  <% end %>
  <tr>
    <th>Total</th>
    <th><%= total %></th>
  </tr>
</table>

<h3>New spot</h3>

<%= render 'form' %>


