<% title "Spots" %>

<table>
  <tr>
    <th>Name</th>
    <th>Count</th>
  </tr>
  <% total = 0 %>
  <% for spot in @spots %>
    <% total += spot.count %>
    <tr>
      <td>
	<% if spot.nixed? %><strike style="color:red"><span style="color:black"><% end %>
	<%= spot.name %>
	<% if spot.nixed? %></span></strike><% end %>
      </td>
      <td align=center><%= spot.count %></td>
      <% if logged_in? %>
      <td><%= link_to "+", plus_spot_path(spot) %></td>
      <td><%= link_to "-", minus_spot_path(spot) %></td>
      <td><%= link_to "nix", nix_spot_path(spot) %></td>
      <td><%= link_to "edit", edit_spot_path(spot) %></td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <th>Total</th>
    <th><%= total %></th>
  </tr>
</table>

<% if logged_in? %>
  <h3>New spot</h3>
 
  <%= render 'form' %>

  <p><%= link_to "Log out", logout_path %></p>
<% else %>
  <p><%= link_to "Log in", login_path %></p>
<% end %>
