<% title "Visit" %>

<p>
  <strong>Spot:</strong>
  <%= @visit.spot %>
</p>
<p>
  <strong>On:</strong>
  <%= @visit.on %>
</p>

<p>
  <%= link_to "Edit", edit_visit_path(@visit) %> |
  <%= link_to "Destroy", @visit, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", visits_path %>
</p>
